1. Python
2. Why Python bevcame so popular for machine learning?
3. Data types 
4. Anaconda 
5. Intro to Git

* Python is a general purpose language created by Guido van Rossom in 1991
    * Web development
    * Software dev
    * Mathematics
 
* There are few main reasons of python becoming a popular choice
     * Simiplicity in terms of both reading and writing
     * Its interpreted language (quick prototyping)
     * Rich source of libraries

In [8]:
x = "hello"
print (x)

hello

In [6]:
type(x)

str

In [9]:
y = '3'
print("Type of y is = ", type(y))

Type of y is =  <class 'str'>

## How to define a variable in Python

* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

## name case
* Camel case: Each word, except the first, starts with a capital letter e.g. myVariableName
* Pascal Case: Each word starts with a capital letter e.g. MyVariableName
* Snake case: Each word is separated by an underscore character e.g. my_variable_name

## Data types

* Text Type:	    str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	    dict
* Set Types:	    set, frozenset
* Boolean Type:	    bool
* Binary Types:	    bytes, bytearray, memoryview
* None Type:	    NoneType

## Comments

* Single line comment
* Multi line comment

### Exercises

* Create a variable named 'car_name' and assign the value 'BMW' to it.
* Create a variable named x and assign the value 50 to it.
* Display the sum of 5 + 10, using two variables: x and y
* Create a variable called z, assign x + y to it, and display the result.  
    x = 20  
    y = 10  
* Is the variable name correct: 2my-first_name = "John"
*

## Lists
* What is a list?
* unpacking a list
* How to traverse through a list?

In [10]:
a,b,c = "one", "two", "three"
print(b)

two

In [14]:
## Unpacking

animals = ['lion', 'tiger', 'hippo']
l,t,h = animals
print(l)

lion

In [12]:
animals[0]

'lion'

In [20]:
for i in range(0,len(animals)):
    print(animals[i])

lion
tiger
hippo

In [21]:
x = ("apple", "banana", "cherry")
type(x)

tuple

In [22]:
ls = [1,2,3,'4']
type(ls)

list

In [23]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [24]:
list(("apple", "orange", "pineapple"))

['apple', 'orange', 'pineapple']

In [25]:
tuple(("apple", "pineapple"))

('apple', 'pineapple')

In [30]:
z = -5j
type(z)

complex

In [31]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Exercises

## Dictionaries

### Exercises

## Functions

### Exercises